.register-container {
  background-color: #f0f2f5;
  min-height: 100vh;
  padding-top: 20px;
  .content-right {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    .forgot-password {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .brand {
      text-transform: uppercase;
      font-size: 20px;
      color: #1877f2;
      font-weight: 600;
      text-align: center;
    }
  }
  .content-left {
    margin-top: 30px;
    .brand {
      text-transform: uppercase;
      font-size: 30px;
      color: #1877f2;
      font-weight: 700;
    }
    .detail {
      font-size: 20px;
    }
  }
}
